
body{
    background-color: rgb(143, 38, 43);
    font-size: 12px;

}
#page{
    margin-top: -6pt;
    margin-left: 10pt;
    background-color: white;
    border-top: solid 10pt rgb(52, 50, 47);
    border-bottom: solid 20pt rgb(52, 50, 47);
    padding-top: 15pt;
    padding-left: 10pt;
    padding-bottom: 15pt;
    width: fit-content;
    box-shadow: -5px 5px 5px rgb(112, 37, 43);
}
h2{
    font-family:'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
}
h4{
    color: rgb(162, 37,31);
    font-size: 16px;
    margin-top: 5pt;
   
}
#mainPart{
    width: fit-content;
    background-color: rgb(230, 236, 239) ;
    margin-right: 100pt;
    border-radius: 2pt;
    padding: 7pt;
    
}
table {
    margin-top: 15pt;
    margin-bottom: 15pt;
    table-layout: fixed;
    width: 440pt;
    border: solid 1pt gray;
    border-collapse: collapse;
    text-align: left;
    }
    
th{
    border: solid 1pt gray;
    padding-left: 2pt;
    color:black;
    background-color: rgb(216, 216, 216) ; 
    font-style: bold;      
    }

td {
    border: solid 1pt gray;
    padding-left: 3pt;
    height: 25pt;
    
}
.tableInput{
   vertical-align: bottom;
}
.textInput{
    height: 15pt;
    width: 23pt;
    
}
[type=button]{
    border-radius: 3pt;
    border-style: solid;
    background-color:rgb(162, 37,31);
    padding: 4pt;
    color: white;
    font-size: 12px;
    display: inline;
}

#leftButton{
    position: relative; 
    left:337pt;
    margin-right: -4pt;
}
#rightButton{
    width: 50pt;
    position: relative; 
    left: 337pt; 
}
.slashpara{
    display:inline;
}